{% extends 'base.html' %}

{% block task_num %}TASK 6{% endblock %}

{% block progress_bar %}
    <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
             aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if correct %}
        <br>
        <div class="alert alert-success">
            <div class="container-fluid">
              <div class="alert-icon">
                <i class="material-icons">check</i>
              </div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
              </button>
                <h4><strong>CORRECT</strong>, you answered National Instruments! This recently created lab is open to
                    computer and electrical engineering students.<br>
                    Click Proceed to move on to the next task.</h4>
            </div>
        </div>
    {% elif incorrect %}
        <br>
        <div class="alert alert-danger">
            <div class="container-fluid">
              <div class="alert-icon">
                <i class="material-icons">error_outline</i>
              </div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
              </button>
                Sorry, try again. Make sure you're by the C wing of Thornton!
            </div>
        </div>
    {% endif %}
    {% if not activated %}
        <h3><i>Walk towards Darden Courtyard, and keep to your right.</i></h3>
        <h2>What company sponsored the Engineering Discovery Lab?</h2>
        <form action="/task6/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.answer }}
            </div>
            <button type="submit" class="btn btn-primary btn-lg" style="width: 100%">Submit</button>
        </form>
    {% else %}
        {% if not correct %}<h3><i>You correctly answered National Instruments!</i></h3>{% endif %}
    {% endif %}
    <div class="row">
        <a class="btn btn-info pull-left" href="/" style="margin-left: 10px;">Return to home</a>
        {% if activated %}
            <a id="proceed-btn" class="btn btn-primary pull-right" href="/task7/" style="margin-right: 10px;">Proceed</a>
        {% endif %}
    </div>
{% endblock %}