{% extends 'base.html' %}

{% block task_num %}TASK 7{% endblock %}

{% block progress_bar %}
    <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
             aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if correct %}
        <br>
        <div class="alert alert-success">
            <div class="container-fluid">
              <div class="alert-icon">
                <i class="material-icons">check</i>
              </div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
              </button>
                <h4><strong>CORRECT</strong>, you answered Zimbabwe! At UVA, there are many study abroad opportunities,
                    either for full semesters or during Summer / J-term.<br>
                    Click Proceed to move on to the next task.</h4>
            </div>
        </div>
    {% elif incorrect %}
        <br>
        <div class="alert alert-danger">
            <div class="container-fluid">
              <div class="alert-icon">
                <i class="material-icons">error_outline</i>
              </div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
              </button>
                Sorry, try again. The country is African!
            </div>
        </div>
    {% endif %}
    {% if not activated %}
        <h3><i>Enter the A-Wing of Thornton Hall. Go up the stairs.</i></h3>
        <h2>What country is represented by the flag in the bottom right corner of the study abroad map of the world?</h2>
        <form action="/task7/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.answer }}
            </div>
            <button type="submit" class="btn btn-primary btn-lg" style="width: 100%">Submit</button>
        </form>
    {% else %}
        {% if not correct %}<h3><i>You correctly answered Zimbabwe!</i></h3>{% endif %}
    {% endif %}
    <div class="row">
        <a class="btn btn-info pull-left" href="/" style="margin-left: 10px;">Return to home</a>
        {% if activated %}
            <a id="proceed-btn" class="btn btn-primary pull-right" href="/task8/" style="margin-right: 10px;">Proceed</a>
        {% endif %}
    </div>
{% endblock %}