{% extends 'base.html' %}

{% block task_num %}TASK 4{% endblock %}

{% block progress_bar %}
    <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60"
             aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
        </div>
    </div>
{% endblock %}

{% block content %}
    {% if correct %}
        <br>
        <div class="alert alert-success">
            <div class="container-fluid">
              <div class="alert-icon">
                <i class="material-icons">check</i>
              </div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
              </button>
                <b>CORRECT</b>, Professor Bailey uses an Apple computer.
            </div>
        </div>
    {% elif incorrect %}
        <br>
        <div class="alert alert-danger">
            <div class="container-fluid">
              <div class="alert-icon">
                <i class="material-icons">error_outline</i>
              </div>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><i class="material-icons">clear</i></span>
              </button>
              Sorry, try again. Make sure you are looking at the office on the side of Olsson Hall!
            </div>
        </div>
    {% endif %}
    {% if not activated %}
        <h3><i>Cross Engineer's Way. Walk between Thornton and Olsson Hall, coming to the side of Olsson.
            Look 3 windows to the right of the arch.</i></h3>
        <h2>What type of computer does Professor Bailey have in his office?</h2>
        <form action="/task4/" method="POST">
            {% csrf_token %}
            <div class="form-group">
                {{ form.answer }}
            </div>
            <button type="submit" class="btn btn-primary btn-lg" style="width: 100%">Submit</button>
        </form>
    {% else %}
        {% if not correct %}<h3><i>You correctly answered the question.</i></h3>{% endif %}
        <hr>
        <h3>Station Unlocked!</h3>
        <a href="/task4/activate/" class="btn btn-success btn-lg" style="width: 100%">Write the next clue</a>
    {% endif %}
    <div class="row">
        <a class="btn btn-info pull-left" href="/" style="margin-left: 10px;">Return to home</a>
        {% if activated %}
            <a id="proceed-btn" class="btn btn-primary pull-right" href="/task5/" style="margin-right: 10px;">Next task</a>
        {% endif %}
    </div>
{% endblock %}