{% extends 'base.html' %}

{% block header %}
    {% load static %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container text-center">
    <h1>Welcome to the UVA Cyber-Physical Tour!</h1>
    {% if request.user.is_authenticated %}
        <h2>Signed in as {{ request.user.first_name }} {{ request.user.last_name }}</h2>
{#        <button class="btn btn-danger pull-right"><a href="{% url 'logout' %}">Sign Out</a></button><br><br>#}
    {% endif %}
    {% if request.user.task_num == 0 %}
        <h3>To start your adventure, go to the Rice courtyard (between Olsson Hall and Rice Hall)</h3>
        <button class="btn btn-success"><a href="/task1/">Proceed</a></button>
    {% else %}
        <h3>Current task number: {{ request.user.task_num }}</h3>
        <a class="btn btn-success btn-lg" href="/task{{ request.user.task_num }}/"
           style="width: 100%">Resume Adventure</a>
        <hr>
        <h4>Unlocked Stations</h4>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">Task#</th>
                    <th class="text-center">Station</th>
                    <th class="text-center">Location</th>
                    <th class="text-center">Revisit?</th>
                </tr>
            </thead>
            <tbody>
                {% if request.user.task_num > 1 %}
                    <tr><a href="/task1/">
                        <td>1</td>
                        <td>Make TJ talk</td>
                        <td>Rice Hall Windows</td>
                        <td><a class="btn btn-primary" href="/task1/"><i class="material-icons">launch</i></a></td>
                    </a></tr>
                {% endif %}
                {% if request.user.task_num > 4 %}
                    <tr><a href="/task4/">
                        <td>4</td>
                        <td>Activate the whiteboard</td>
                        <td>Professor Bailey's Office Window</td>
                        <td><a class="btn btn-primary" href="/task4/"><i class="material-icons">launch</i></a></td>
                    </a></tr>
                {% endif %}
                {% if request.user.task_num > 10 %}
                    <tr><a href="/task10/">
                        <td>10</td>
                        <td>Celebrate UVA</td>
                        <td>Rice Hall Windows</td>
                        <td><a class="btn btn-primary" href="/task10/"><i class="material-icons">launch</i></a></td>
                    </a></tr>
                {% endif %}
            </tbody>
        </table>
    {% endif %}
</div>
{% endblock %}