<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    {% load static %}
    <link href="{% static 'general/login.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-6">
                                <a data-toggle="tab" href="#resume" id="resumeButton" class="active">Resume Adventure</a>
                            </div>
                            <div class="col-xs-6">
                                <a data-toggle="tab" href="#register" id="registerButton">New Adventure</a>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-12 tab-content row">
                            <!-- RESUME -->
                            <div id="resume" class="tab-pane fade in active">
                                <form action="/register/" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                    {{ login_form.email }}
                                    </div>
                                    <div class="form-group">
                                        {{ login_form.password }}
                                    </div>
                                    <input type="submit" id="login-submit" tabindex="4" class="form-control btn btn-register" value="Resume">
                                </form>
                            </div>

                            <!-- REGISTER -->
                            <div id="register" class="tab-pane fade">
                                <form action="/register/" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        {{ reg_form.first_name }}
                                    </div>
                                    <div class="form-group">
                                        {{ reg_form.last_name }}
                                    </div>
                                    <div class="form-group">
                                        {{ reg_form.email }}
                                    </div>
                                    <div class="form-group">
                                        {{ reg_form.password }}
                                    </div>
                                    <div class="form-group">
                                        {{ reg_form.conf_password }}
                                    </div>
                                    <input type="submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'js/login.js' %}"></script>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $('#registerButton').click(function() {
            $('#registerButton').addClass('active');
            $('#resumeButton').removeClass('active');
        })

        $('#resumeButton').click(function() {
            $('#resumeButton').addClass('active');
            $('#registerButton').removeClass('active');
        })
    </script>
</body>
</html>